* {
	font-family: Tahoma;
	font-size: 12pt;
}

body {
	margin: 10px;
}

p, ul, li {
	font-family: Tahoma;
	font-size: 12pt;
}

ul, li {
	margin-top: 0px;
	padding-top: 0px;
}

table {
	border: 0px;
    border-spacing: 0;
	border-collapse: collapse;
	margin: 0px;
}

td, th {
	border: 1px solid black;
	padding: 0px;
}

td.list {
	border: 0px;
}

th {
	background-color: #C6D9F1
}

table.spec {
	width: 100%;
}

a:link {     
	text-decoration: none;
	color: blue; 
}

a:visited {
	color: blue;
}

a:hover {
	text-decoration: underline; 
	color: red;
}

hr {
	border: 0px;
	border-top: 1px solid black;
}

code {
	font-family: monospace;
	font-size: 12pt;
}

code > a {     
	font-family: monospace;
	font-size: 12pt;
}


.spacer {
	width: 100%;
	height: 20px;
}

.package-plain {
	font-weight: bold;
	font-size: 12pt;
}

.cell-th {
	margin: 2px;
	margin-left: 5px;
	margin-right: 5px;
	text-align: left;
}

.cell-th-span {
	margin: 5px;
}

.cell-td {
	margin: 2px;
	margin-left: 5px;
	margin-right: 5px;
	text-align: left;
}

.cell-td-span, .actor-id {
	margin: 5px;
}

.cell-th-span-inner {
	color: #243F60;
}

.diagram-image-block {
	text-align: center;
}

.diagram-image-img {
	text-align: center;
}

.diagram-name-block {
	text-align: center;
}

.diagram-name-span {
	text-align: center;
	margin: 0px;
}

.section-header {
	font-weight: bold;
	font-size: 16pt;
	padding: 4px;
	width: 100%;
	border: 1px solid black;
	background-color: #C6D9F1
}

.header {
	font-weight: bold;
	font-size: 16pt;
	padding: 2px;
	padding-top: 8px;
	padding-bottom: 4px;
}

.sub-header {
	font-weight: bold;
	font-size: 12pt;
	padding: 1px;
	padding-top: 6px;
	padding-bottom: 3px;
}

div.paragraph {
	padding: 1px;
	padding-top: 10px;
	padding-bottom: 4px;
}
