<!-- html-head -->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Windows-1250"/>
<link rel="stylesheet" href="<% stylesheet %>" type="text/css"/>
<title><% title %></title>
</head>
<body>

<!-- namespaces-head -->
<table>

<!-- namespaces-namespace -->
<tr>
<td class="list"><a href="<% namespace %>.html" target="namespace"><% namespace %></a></td>
</tr>

<!-- namespaces-foot -->
</table>

<!-- classes-head -->
<table>

<!-- classes-class -->
<tr>
<td class="list"><a href="<% qualifiedName %>.html" target="class"><% qualifiedName %></a></td>
</tr>

<!-- classes-foot -->
</table>


<!-- html-foot -->
</body>
</html>
